@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  all: unset;
  display: block;
  cursor: pointer;
}

/* modal */
.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}
.modal-box {
  width: 350px;
  height: 450px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#close {
  padding: 5px 16px;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
}

/* wrap */
.wrap {
  width: 1000px;
  height: 650px;
  display: flex;
}

/* header */
.header {
  width: 200px;
  height: 100%;
  background-color: darksalmon;
}
.logo {
  width: 100%;
  height: 100px;
  background-color: #fff;
}
.logo a {
  width: 100%;
  height: 100%;
  color: darksalmon;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: center;
}
nav {
  width: 100%;
  height: 550px;
}
.nav {
  width: 100%;
  height: 100%;
}
.nav > li > a {
  width: 100%;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  transition: all 0.2s ease;
}
.nav > li > a:hover {
  background-color: #fff;
  color: darksalmon;
}
.depth2 {
  display: none;
}
.depth2 a {
  width: 100%;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  font-weight: 500;
  transition: all 0.2s ease;
}
.depth2 a:hover {
  color: darksalmon;
}

/* slide */
.slide {
  width: 800px;
  height: 350px;
  position: relative;
  overflow: hidden;
}
.slide-list {
  width: 100%;
  height: 100%;
}
.slide-list li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.slide-list li:first-child {
  display: block;
}
.slide-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: rgba(255, 255, 255, 0.5);
}
.slide-txt p {
  font-weight: 500;
  font-style: 24px;
}

/* contents */
.contents {
  width: 100%;
  height: 200px;
  display: flex;
}
section {
  width: 33.333%;
  height: 100%;
}
section > a {
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darksalmon;
  color: #fff;
  font-weight: 500;
}
section > ul {
  width: 100%;
  height: calc((100% - 40px));
  /* background-color: #ddd; */
  padding: 10px;
  display: flex;
}
.notice-list{
    flex-direction: column;
    gap: 12px;
}
.notice-list a{
    display: flex;
    justify-content: space-between;
}
.gallery-list{
    gap: 10px;
    align-items: center;
}
.gallery-list li{
    width: calc(100% /3);
}
.gallery-list img{
    height: 60px;
}
.gallery-list img:hover{
    opacity: 0.7;
}
.link{
    position: relative;
}
.link-txt{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 16px;
    background-color: rgba(0, 0, 0, 0.2);
}
.link-txt h2{
    color: #fff;
}
#link{
    color: #fff;
    background-color: darksalmon;
    padding: 5px 16px;
    border-radius: 3px;
}

/* footer */
.footer{
    width: 100%;
    height: 100px;
    background-color: #efefef;
    display: flex;
}
.copy{
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-right{
    width: 200px;
    height: 100%;
}
.sns{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}
.sns img{
    width: 100%;
}
.family{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
select{
    padding: 3px 16px;
    cursor: pointer;
}