@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
img {
  display: block;
}
button {
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
/* modal */
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
}
.modal-txt-box {
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-txt-box p {
  text-align: justify;
  margin: 50px 0 80px 0;
}
/* gallery modal */
.modal-gallery-box {
  width: 30%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.modal-gallery-box img {
  width: 100%;
}
.gallery-close {
  width: 75px;
  display: block;
  color: #333;
  background-color: #fff;
}
/*  */
.wrap {
  width: 1200px;
  margin: auto;
}
/* header */
.header {
  width: 100%;
  height: 100px;
  background-color: forestgreen;
  display: flex;
  position: relative;
}
.logo {
  width: 20%;
  height: 100%;
}
.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  line-height: 100px;
}
.logo h1 {
  color: #fff;
}
nav {
  width: 80%;
  height: 100%;
}
.nav {
  width: 70%;
  height: 50%;
  background-color: #fff;
  margin-top: 50px;
  margin-left: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav > li {
  width: calc(100% / 4);
  height: 100%;
}
.nav > li > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  font-weight: 600;
}
.depth2{
  padding-top: 10px;
  text-align: center;
  display: none;
  position: relative;
  z-index: 999;
}
.depth2 li{
  padding: 8px 0;
  width: 100%;
}
.depth2 a{
width: 100%;
}
.depth2 a:hover{
  font-weight: 600;
}
.depth2Bg{
  position: absolute;
  width: 1200px;
  height: 150px;
  background-color: #fff;
  top: 100px;
  left:0;
  display: none;
  z-index: 9;
}
/* slide - 아티클섹션에 오버플로우 히든주고 하위를 ul-li구조로 만들기*/
/* ul에 디스플레이 플렉스 주고 li에 flex:0 0 (슬라이드넓이값px) 설정 */
/* 자바스크립트에 담을것 슬라이드 ul/ li의 위드값/ 무브슬라이드*/
.slide {
  overflow: hidden;
}
.img-slide {
  width: 100%;
  height: 300px;
  display: flex;
}
.img-slide li {
  width: 100%;
  flex: 0 0 1200px;
}

.img-slide img {
  width: 100%;
}
.section-wrap {
  width: 100%;
  height: 200px;
  display: flex;
}
.notice,
.gallery,
.banner {
  width: 33.3333%;
  height: 200px;
}

.notice > ul > a,
.gallery > a {
  display: block;
  width: 100px;
  line-height: 40px;
  background-color: #333;
  color: #fff;
  text-align: center;
}
.notice > ul > li {
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  /* background-color: #efefef; */
}
.gallery > ul {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  /* background-color: #efefef; */
}
.gallery > ul > li {
  width: calc(100% / 3);
}
.gallery img {
  width: 100%;
  aspect-ratio: 4 /3;
}
/* banner */
.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 100%;
  filter: brightness(80%);
}
.banner .txt {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.banner > .txt > p,
.banner > .txt > a > button {
  font-size: 24px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
/* footer */
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #ddd;
}
.footer-logo h1,
.footer-logo h3 {
  color: #aaa;
}
.copy {
  width: 60%;
  display: flex;
  align-items: center;
}
.family {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
  gap: 10px;
}
.family img {
  width: 50px;
  height: 50px;
}
