@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}
/* modal */
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 99;
}
.modal-box {
  width: 350px;
  height: 450px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* wrap */
.wrap {
  width: 100%;
  height: 950px;
}

/* main */
.main {
  display: flex;
  width: 100%;
  height: 850px;
}

/* header */
.header {
  width: 200px;
  height: 850px;
}
.logo {
  width: 100%;
  line-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: goldenrod;
  font-size: 28px;
}
nav {
  width: 100%;
  height: 700px;
  background-color: goldenrod;
}
.nav {
  width: 100%;
}
.nav > li {
  position: relative;
}
.nav a {
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  background-color: goldenrod;
}
.nav a:hover {
  background-color: #fff;
  color: goldenrod;
}
.depth2 {
  width: 100%;
  display: none;
}
/* account */
.account {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
/* .account li{
    width: 50%;
} */
.account a {
  text-align: center;
  text-decoration: underline;
  font-size: 14px;
  line-height: 50px;
}

/* right */
.right {
  width: calc(100% - 200px);
  height: 850px;
}

/* slide */
.slide {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.slide-list {
  width: 100%;
  height: 100%;
}
.slide-list li {
  position: relative;
  height: 100%;
  width: 100%;
}
.slide-txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 24px;
}
.slide-txt h2{
    color: #fff;
}
.slide-txt p {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

/* quick */
.quick{
    width: 100px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
}
.quick li{
    width: 100%;
    height: 100px;
}
.quick img{
    height: 100px;
}

/* banner */
.banner{
    width: 100%;
    height: 200px;
    display: flex;
    padding: 16px;
}
.banner img{
    width: 250px;
}
.banner-dscr{
width: calc(100% - 250px);
height: 100%;
display: flex;
justify-content: space-between;
}
.banner-txt{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: goldenrod;
    padding:18px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}

/* no/ga */
.no-ga{
    width: 100%;
    height: 250px;
    position: relative;
}
.tabBtn{
    width: 100%;
    display: flex;
}
.tabBtn a{
    width: 100px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
    color: goldenrod;
}
.tabBtn a.active{
    color: #fff;
    background-color: goldenrod;
}
.tabContents{
    width: 100%;
    height: calc(100% - 40px);
    /* background-color: #ddd; */
}
.tabContents ul{
    position: absolute;
    top: 40px;
    left: 0;
    padding: 16px;
    width: 100%;
    height: inherit;
    display: none;
}
.tabContents ul.active{
    display: flex;
}
.notice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.notice a{
    display: flex;
    justify-content: space-between;
}
.gallery{
    /* display: flex; */
    gap: 16px;
}
.gallery li{
    width: calc(100% / 3);
    height: 100%;
}
.gallery a{
    width: 100%;
    height: 100%;
}
.gallery img:hover{
    opacity: 0.7;
}

/* footer */
.footer{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #555;
}
.footer-logo{
    line-height: 100px;
    width: 200px;
    color: #aaa;
}
.copy{
    width: calc(100% - 400px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
}
.sns{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}