@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}
h1{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
.list{
    padding: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}
.list > li{
    width: calc(100% / 6);
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    font-weight: bold;
    color: darkkhaki;
}
.depth2 a{
    font-weight: 400;
    font-size: 18px;
}
.depth2 a:hover{
    color: #fff;
    font-weight: bold;
    background-color: khaki;
}